.lista-tareas{
    border: 3px solid #1C6EA4;
}

h1 {
    text-align: center;
}

.lista-nombres{
    box-shadow: 2px 2px 7px 1px #1C6EA4;
}

.resaltado {
     color: red;
     font-weight: bold;
}

.error {
    color: rgb(192, 83, 0);
    font-weight: bold;
}

.amarrillo {
    background-color: yellow;
    font-weight: bold;
    padding: 5px;
}

.oculto { 
    display: none; 
}
    

